*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

a{
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.btn{
  border: 1px solid white;
  border-radius: 5px;
}

.btn-green{
  background-color: rgb(25, 182, 1);
  border-radius: 5px;
}

/* Inizio header */
header{
  background-image: url('../img/background-header.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 115% 100%;
  background-color: #0b3059;
}

.header-top{
  width: 100%;
  height: 60px;
  line-height: 60px
}

.header-top .logo{
  width: 10%;
  margin-top: 10px;
}

.header-top .nav-main{
  width: 50%;
}

.nav-main li{
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
}

.header-top .nav-right{
  width: 35%;
  height: 60px;
  margin-left: 10px;
}

.nav-right li{
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
}

.nav-right li .btn{
  padding: 3px 2px;
}

.nav-right li .btn-green{
  padding: 3px 2px;
}

.jumbotron{
  width: 100%;
  height: 540px;
  position: relative;
}

.jumbotron .text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron .text h1{
  width: 62%;
  font-size: 50px;
  margin-bottom: 50px;
  color: white;
}

.jumbotron .text a{
  padding: 20px 20px;
}
/* /header */

/* Inizio main */
section:nth-child(3n+1){
  background-color: lightgray;
}

.section-top{
  text-align: center;
  padding: 40px 0;
}

.section-top h3{
  color: gray;
  margin-top: 10px;
}

.section-center{
  margin-top: 20px;
}

.section-center .piano{
  width: calc(100% / 3 - 20px);
  text-align: center;
}

.piano img{
  width: 30%;
}

.piano h2{
  margin: 20px 0;
  color: rgb(25, 182, 1);
}

.piano hr{
  width: 20%;
  margin: auto;
}

.piano p{
  margin-top: 20px;
}

.section-center .tutor{
  width: calc(100% / 3 - 20px);
  text-align: center;
  margin: 0 20px;
}

.tutor img{
  width: 51%;
}

.tutor h2{
  margin: 20px 0;
  color: rgb(25, 182, 1);
}

.tutor hr{
  width: 20%;
  margin: auto;
}

.tutor p{
  margin-top: 20px;
}

.section-center .progressi{
  width: calc(100% / 3 - 20px);
  text-align: center;
}

.progressi img{
  width: 35%;
}

.progressi h2{
  margin: 20px 0;
  color: rgb(25, 182, 1);
}

.progressi hr{
  width: 20%;
  margin: auto;
}

.progressi p{
  margin-top: 20px;

}

.hr-center hr{
  border: 2px solid lightgray;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-center .mountain{
  width: calc(100% / 2);
}

.section-center .mountain img{
  width: 70%;
  margin-left: 20%;
}

.section-center .livello{
  width: calc(100% / 2);
}

.livello h2{
  width: 60%;
}

.livello p{
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.livello a{
  color: blue;
  text-transform: inherit;
  text-decoration: underline;
}

.section-bottom{
  margin-top: 30px;
  padding: 40px 20px;
}

.section-bottom-right select{
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.section-bottom-right a{
  padding: 12px 10px;
}

.section-bottom-right select{
  border: 1px solid transparent;
  color: lighgray;
}

.section-bottom .help{
  position: fixed;
  bottom: 0;
  right: 13%;
  padding: 5px 10px;
  background-color: rgb(25, 182, 1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
